<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Password Manager</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="login(username.value, password.value)">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Username</ion-label>
        <ion-input #username="ngModel" [required]="true" name="username" ngModel></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input #password="ngModel" (keydown.enter)="login(username.value, password.value)" [required]="true"
                   name="password"
                   ngModel type="password"></ion-input>
      </ion-item>

    </ion-list>

    <ion-button [disabled]="!username.valid || !password.valid" expand="full"
                type="submit">Login
    </ion-button>
  </form>
</ion-content>
