<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Edit Todo</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input [(ngModel)]="todo.title" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input [(ngModel)]="todo.description" type="text"></ion-input>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-button (click)="save()" color="light" expand="full">Save</ion-button>
</ion-footer>
