<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Secure Todo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form>
    <div>
      Enter your password.
      All information is encrypted with this password.
    </div>
    <p>
      <ion-input #pw="ngModel" [required]="true" name="password" ngModel type="password"></ion-input>
    </p>
    <ion-button (click)="showTodos(pw.value)" [disabled]="!pw.valid" expand="block">Show Todos</ion-button>
  </form>
</ion-content>
