<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="chart1">
      <ion-icon name="podium-outline" />
      <ion-label>Chart 1</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chart2">
      <ion-icon name="podium-outline" />
      <ion-label>Chart 2</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chart3">
      <ion-icon name="podium-outline" />
      <ion-label>Chart 3</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chart4">
      <ion-icon name="podium-outline" />
      <ion-label>Chart 4</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chart5">
      <ion-icon name="podium-outline" />
      <ion-label>Chart 5</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chart6">
      <ion-icon name="podium-outline" />
      <ion-label>Chart 6</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
