<ion-tabs>

  <ion-tab tab="chart1">
    <ion-router-outlet name="chart1"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="chart2">
    <ion-router-outlet name="chart2"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="chart3">
    <ion-router-outlet name="chart3"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="chart4">
    <ion-router-outlet name="chart4"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="chart5">
    <ion-router-outlet name="chart5"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="chart6">
    <ion-router-outlet name="chart6"></ion-router-outlet>
  </ion-tab>

  <ion-tab-bar slot="bottom">

    <ion-tab-button href="/tabs/(chart1:chart1)" tab="chart1">
      <ion-icon name="podium"></ion-icon>
      <ion-label>Chart 1</ion-label>
    </ion-tab-button>

    <ion-tab-button href="/tabs/(chart2:chart2)" tab="chart2">
      <ion-icon name="podium"></ion-icon>
      <ion-label>Chart 2</ion-label>
    </ion-tab-button>

    <ion-tab-button href="/tabs/(chart3:chart3)" tab="chart3">
      <ion-icon name="podium"></ion-icon>
      <ion-label>Chart 3</ion-label>
    </ion-tab-button>

    <ion-tab-button href="/tabs/(chart4:chart4)" tab="chart4">
      <ion-icon name="podium"></ion-icon>
      <ion-label>Chart 4</ion-label>
    </ion-tab-button>

    <ion-tab-button href="/tabs/(chart5:chart5)" tab="chart5">
      <ion-icon name="podium"></ion-icon>
      <ion-label>Chart 5</ion-label>
    </ion-tab-button>

    <ion-tab-button href="/tabs/(chart6:chart6)" tab="chart6">
      <ion-icon name="podium"></ion-icon>
      <ion-label>Chart 6</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
