<ion-header>
  <ion-toolbar>
    <ion-title>
      Movie Speech Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (matches && matches.length > 0) {
    <ion-card>
      <ion-card-content>
        {{ matches.join(', ') }}
      </ion-card-content>
    </ion-card>
  }
  @if (movies && movies.length > 0) {
    <ion-list>
      @for (movie of movies; track movie.title) {
        <ion-card>
          <ion-card-header> {{ movie.title }}</ion-card-header>
          <ion-card-content>
            <p>{{ movie.genres }}</p>
            @if (movie.runtimeMinutes) {
              <p>Runtime: {{ movie.runtimeMinutes }} minutes</p>
            }
            <p>{{ movie.actors.join(', ') }}</p>
          </ion-card-content>
        </ion-card>
      }
    </ion-list>
  }
</ion-content>

<ion-footer class="ion-padding">
  <ion-button (click)="searchCordova()" color="secondary">Cordova</ion-button>
  <ion-button (click)="searchWebSpeech()" [disabled]="isWebSpeechRecording" color="secondary">Web Speech</ion-button>
  <ion-button (click)="searchGoogleCloudSpeech()"
              [color]="isRecording ? 'danger' : 'secondary'">{{ isRecording ? 'Stop' : 'Cloud Speech' }}
  </ion-button>
</ion-footer>
