<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Sign up</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <form #form="ngForm" (ngSubmit)="signup(form.value)" novalidate>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Name</ion-label>
        <ion-input #name="ngModel" [class.invalid]="name.errors && name.dirty" [required]="true" name="name" ngModel
                   type="text"></ion-input>
      </ion-item>
      <ion-item *ngIf="name.errors?.required && name.dirty" class="error-message">
        <ion-label>
          Name is required
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input #email="ngModel" [class.invalid]="email.errors && email.dirty" [required]="true" email name="email" ngModel
                   type="email"></ion-input>
      </ion-item>
      <ion-item *ngIf="email.errors?.required && email.dirty" class="error-message">
        <ion-label>
          Email is required
        </ion-label>
      </ion-item>
      <ion-item *ngIf="email.errors?.email && email.dirty" class="error-message">
        <ion-label>
          Email is not valid
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Username</ion-label>
        <ion-input #username="ngModel" [class.invalid]="username.errors && username.dirty" [required]="true" name="username" ngModel
                   type="text"></ion-input>
      </ion-item>
      <ion-item *ngIf="username.errors?.required && username.dirty" class="error-message">
        <ion-label>
          Username is required
        </ion-label>
      </ion-item>
      <ion-item *ngIf="username.errors?.usernameTaken" class="error-message">
        <ion-label>
          Username already taken
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input #password="ngModel" [class.invalid]="password.errors && password.dirty" [required]="true" name="password" ngModel
                   type="password"></ion-input>
      </ion-item>
      <ion-item *ngIf="password.errors?.required && password.dirty" class="error-message">
        <ion-label>
          Password is required
        </ion-label>
      </ion-item>

      <div class="ion-padding">
        <ion-button [disabled]="!form.valid" color="primary" expand="block" type="submit">Sign up</ion-button>
      </div>

    </ion-list>
  </form>
</ion-content>
