<ion-header>
  <ion-toolbar>
    <ion-title>
      Custom Icons
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button>
    <ion-icon aria-hidden="true" slot="start" src="assets/point-left.svg" />
    Left Icon
  </ion-button>

  <ion-button>
    Right Icon
    <ion-icon aria-hidden="true" slot="end" src="assets/point-right.svg" />
  </ion-button>

  <ion-button aria-label="Open mobile actions">
    <ion-icon aria-hidden="true" slot="icon-only" src="assets/mobile.svg" />
  </ion-button>
  <ion-button aria-label="Show QR code">
    <ion-icon aria-hidden="true" slot="icon-only" src="assets/qrcode.svg" />
  </ion-button>
  <ion-button aria-label="Open card game">
    <ion-icon aria-hidden="true" slot="icon-only" src="assets/spades.svg" />
  </ion-button>

  <div class="ion-margin-top">
    <ion-icon aria-hidden="true" class="big" src="assets/mobile.svg" />
    <ion-icon aria-hidden="true" class="big" src="assets/qrcode.svg" />
    <ion-icon aria-hidden="true" class="big" src="assets/spades.svg" />
  </div>

  <div class="ion-margin-top">
    <ion-icon aria-hidden="true" class="bigger" src="assets/mobile.svg" />
    <ion-icon aria-hidden="true" class="bigger" src="assets/qrcode.svg" />
    <ion-icon aria-hidden="true" class="bigger red" src="assets/spades.svg" />
  </div>

  <div class="ion-margin-top">
    <ion-icon aria-hidden="true" class="big" [src]="embeddedPhoneIcon" />
  </div>

</ion-content>
