<ion-header>
  <ion-toolbar>
    <ion-title>
      Form Validation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (submit)="register()" [formGroup]="registrationForm" novalidate>

    <ion-list>

      <ion-item>
        <ion-label position="stacked">Username</ion-label>
        <ion-input [class.invalid]="isInvalidAndDirty('username')" formControlName="username" type="text"></ion-input>
      </ion-item>
      <ion-item *ngIf="hasError('username', 'required')" class="error-message">
        <ion-label>
          Username is required
        </ion-label>
      </ion-item>
      <ion-item *ngIf="hasError('username', 'minlength')" class="error-message">
        <ion-label>
          Username must be at least 2 characters long
        </ion-label>
      </ion-item>
      <ion-item *ngIf="hasError('username', 'maxlength')" class="error-message">
        <ion-label>
          Username cannot be longer than 30 characters
        </ion-label>
      </ion-item>
      <ion-item *ngIf="hasError('username', 'usernameTaken')" class="error-message">
        <ion-label>
          Username is already taken
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input [class.invalid]="isInvalidAndDirty('email')" formControlName="email" type="email"></ion-input>
      </ion-item>
      <ion-item *ngIf="hasError('email', 'required')" class="error-message">
        <ion-label>
          Email is required
        </ion-label>
      </ion-item>
      <ion-item *ngIf="hasError('email', 'pattern')" class="error-message">
        <ion-label>
          Email is not valid
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Age</ion-label>
        <ion-input [class.invalid]="isInvalidAndDirty('age')" formControlName="age" type="number"></ion-input>
      </ion-item>
      <ion-item *ngIf="hasError('age', 'required')" class="error-message">
        <ion-label>
          Age is required
        </ion-label>
      </ion-item>
      <ion-item *ngIf="hasError('age', 'notOldEnough')" class="error-message">
        <ion-label>
          You must be at least {{minAge}} years old!
        </ion-label>
      </ion-item>

    </ion-list>

    <ion-button [disabled]="!registrationForm.valid" expand="block" type="submit">
      Create an Account
    </ion-button>

  </form>
</ion-content>
