<ion-header>
  <ion-toolbar>
    <ion-title>
      Geo Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button (click)="start()" [disabled]="tracking" color="primary" expand="block" size="large">Start Tracking
  </ion-button>
  <ion-button (click)="stop()" [disabled]="!tracking" color="danger" expand="block" class="ion-margin-top" size="large">Stop
    Tracking
  </ion-button>

  <div *ngIf="tracking">
    <div>Accuracy: {{locationTracker.pos?.accuracy}}</div>
    <div>Bearing: {{locationTracker.pos?.bearing}}</div>
    <div>Latitude: {{locationTracker.pos?.latitude}}</div>
    <div>Longitude: {{locationTracker.pos?.longitude}}</div>
    <div>Speed: {{locationTracker.pos?.speed}}</div>
    <div>Time: {{locationTracker.pos?.time | date:'medium'}}</div>
  </div>

  <ion-button (click)="clear()" color="primary" expand="block" class="ion-margin-top">Clear Data</ion-button>
</ion-content>
