<ion-header>
  <ion-toolbar>
    <ion-title>
      Geo Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button (click)="start()" [disabled]="tracking" color="primary" expand="block" size="large">Start Tracking
  </ion-button>
  <ion-button (click)="stop()" [disabled]="!tracking" class="ion-margin-top" color="danger" expand="block" size="large">
    Stop
    Tracking
  </ion-button>

  @if (tracking) {
    <div>
      <div>Accuracy: {{locationTracker.pos?.accuracy}}</div>
      <div>Bearing: {{locationTracker.pos?.bearing}}</div>
      <div>Latitude: {{locationTracker.pos?.latitude}}</div>
      <div>Longitude: {{locationTracker.pos?.longitude}}</div>
      <div>Speed: {{locationTracker.pos?.speed}}</div>
      <div>Time: {{locationTracker.pos?.time | date:'medium'}}</div>
    </div>
  }

  <ion-button (click)="clear()" class="ion-margin-top" color="primary" expand="block">Clear Data</ion-button>
</ion-content>
