page-chart6 {

  @media screen and (orientation: portrait) {
    .demo-chart {
      width: 100%;
      height: 50%;
    }
  }

  @media screen and (orientation: landscape) {
    .demo-chart {
      width: 100%;
      height: 100%;
    }
  }

}
