/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

/t10k-images-idx3-ubyte.gz
/t10k-labels-idx1-ubyte.gz
/train-images-idx3-ubyte.gz
/train-labels-idx1-ubyte.gz
/weights
