<ion-header>
  <ion-toolbar>
    <ion-title>
      Earthquakes
      <ion-note>({{earthquakes?.length}}, {{elapsedTime | number:'1.0-0'}} ms)</ion-note>
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="presentPopover($event)">
        <ion-icon slot="icon-only" name="filter-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-virtual-scroll [items]="earthquakes" approxItemHeight='128px'>
    <ion-item *virtualItem="let earthquake">
      <ion-label>
        <detail [earthquake]="earthquake"></detail>
      </ion-label>
    </ion-item>
  </ion-virtual-scroll>

</ion-content>
