<ion-header>
  <ion-toolbar>
    <ion-title>
      Earthquakes
      <ion-note>({{earthquakes?.length}}, {{elapsedTime | number:'1.0-0'}} ms)</ion-note>
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="presentPopover($event)">
        <ion-icon slot="icon-only" name="filter-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <cdk-virtual-scroll-viewport itemSize="128" minBufferPx="900" maxBufferPx="1350">
    <ion-list>
    <ion-item *cdkVirtualFor="let earthquake of earthquakes">
      <ion-label>
        <app-detail [earthquake]="earthquake"></app-detail>
      </ion-label>
    </ion-item>
    </ion-list>
  </cdk-virtual-scroll-viewport>

</ion-content>
