<ion-header>
  <ion-navbar>
    <ion-title>
      *ngFor
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item
      *ngFor="let actor of bondActors; index as i; even as isEven; odd as isOdd; first as isFirst; last as isLast"
      [ngClass]="{ odd: isOdd, even: isEven, first: isFirst, last: isLast }">
      {{i+1}} {{actor.firstName}} {{actor.lastName}}
    </ion-item>
  </ion-list>

  <ion-list>
    <ng-template ngFor let-actor [ngForOf]="bondActors"
              let-i="index"
              let-isEven="even" let-isOdd="odd"
              let-isFirst="first" let-isLast="last">
      <ion-item [ngClass]="{ odd: isOdd, even: isEven, first: isFirst, last: isLast }">
        {{i+1}} {{actor.firstName}} {{actor.lastName}}
      </ion-item>
    </ng-template>
  </ion-list>
</ion-content>
