<ion-header>
  <ion-toolbar>
    <ion-title>
      Edit Todo
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" />
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="deleteTodo()">
        <ion-icon name="trash-outline" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #f="ngForm" (ngSubmit)="save(f)">
    <ion-list lines="none">
      <ion-item>
        <ion-input #subject="ngModel" [ngModel]="todo?.subject" [required]="true" errorText="Subject is required"
                   label="Subject" labelPlacement="stacked" name="subject" />
      </ion-item>

      <ion-item>
        <ion-input [ngModel]="todo?.description" errorText="Description is required"
                   label="Description" labelPlacement="stacked"
                   name="description"
         />
      </ion-item>
    </ion-list>
    <ion-button [disabled]="!f.valid" [size]="'default'" expand="full" type="submit">Save</ion-button>
    @if (!subject.valid && subject.touched) {
      <div class="errorMessage ion-margin-top">Please enter a Subject</div>
    }
  </form>
</ion-content>
