<ion-header>
  <ion-toolbar>
    <ion-title>
      Upload with Flow.js
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label>
      <video #videoElement height="300">Video stream not available.</video>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <app-progress-bar [progress]="loadProgress" />
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <ion-row>
        <ion-col size="6">
          <ion-button (click)="start()" [disabled]="recording" color="secondary" expand="full" shape="round"
                      size="large"
                      type="button">
            Start
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button (click)="stop()" [disabled]="!recording" color="danger" expand="full" shape="round" size="large"
                      type="button">
            Stop
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button (click)="takeSnapshot()" [disabled]="!recording" color="secondary" expand="full" shape="round"
                      size="large"
                      type="button">
            Take a Snapshot
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-label>
  </ion-item>
</ion-content>
