* {
    box-sizing: border-box;
}

body {
    padding: 0.5em;
    background: #f5f7f9;
    font-size: 1.1em;
    color: #346;
    font-family: Signika, -apple-system, sans-serif;
}

section {
    margin: 0em auto 0;
    width: 100%;
    max-width: 800px;
}

input[name="password"] {
    display: block;
    margin: .5em auto 0em;
    padding: 0.5em 1em 0.5em 0.7em;
    width: 100%;
    border: none;
    background: rgba(0,0,0,0.05);
    color: rgba(0,0,0,0.8);
    font-size: 2em;
    line-height: 0;
    transition: all .5s linear;
}

input:hover, input:focus {
    outline: 0;
    transition: all .5s linear;
    box-shadow: inset 0px 0px 10px #ccc;
}

meter {
    /* Reset the default appearance */            
    margin: 0 auto 1em;
    width: 100%;
    height: .5em;
    
    /* Applicable only to Firefox */
    background: none;
    background-color: rgba(0,0,0,0.1);
}

meter::-webkit-meter-bar {
    background: none;
    background-color: rgba(0,0,0,0.1);
}

meter[value="0"]::-webkit-meter-optimum-value,
meter[value="1"]::-webkit-meter-optimum-value { background: red; }
meter[value="2"]::-webkit-meter-optimum-value { background: yellow; }
meter[value="3"]::-webkit-meter-optimum-value { background: orange; }
meter[value="4"]::-webkit-meter-optimum-value { background: green; }

meter[value="1"]::-moz-meter-bar,
meter[value="1"]::-moz-meter-bar { background: red; }
meter[value="2"]::-moz-meter-bar { background: yellow; }
meter[value="3"]::-moz-meter-bar { background: orange; }
meter[value="4"]::-moz-meter-bar { background: green; }

.feedback {
    color: #9ab;
    font-size: 90%;
    padding: 0 .25em;
    font-family: Courgette, cursive;
    margin-top: 1em;
}

meter::-webkit-meter-optimum-value {
	transition: width .4s ease-out;
}