<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      Password Manager
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="exit">
        </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="addPassword()">
        <ion-icon slot="icon-only" name="add">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-searchbar (ionInput)="filter($event)"></ion-searchbar>
  <ion-card *ngFor="let password of passwords" (click)="editPassword(password)">
    <ion-card-header>
      {{password.url}}
    </ion-card-header>

    <ion-card-content>
      <div>
        Username: <strong>{{password.username}}</strong>
      </div>
      <div>
        Password: <strong>{{password.password}}</strong>
      </div>
      <ion-note>
        {{password.description}}
      </ion-note>
    </ion-card-content>

  </ion-card>

</ion-content>
