<ion-header>
  <ion-toolbar>
    <ion-title>
      Push
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="8">Send me Chuck Norris Jokes</ion-col>
      <ion-col size="4">
        <ion-checkbox (ionChange)="onChange()" [(ngModel)]="allowPush" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">Send me Personal messages</ion-col>
      <ion-col size="4">
        <ion-checkbox (ionChange)="onPmChange()" [(ngModel)]="allowPersonal" />
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    @for (item of items; track item.id) {
      <ion-item>
        <ion-label class="ion-text-wrap">
          {{ item.id }}. {{ item.text }}
        </ion-label>
      </ion-item>
    }
  </ion-list>
</ion-content>
