<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      Todo
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addTodo()">
        <ion-icon name="add-outline" slot="icon-only">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item-sliding #slidingItem *ngFor="let todo of todos">
      <ion-item>
        <ion-label>{{todo.title}}</ion-label>
      </ion-item>
      <ion-item-options>
        <ion-button (click)="editTodo(slidingItem, todo)" color="primary">
          <ion-icon name="create-outline"></ion-icon>
          Edit
        </ion-button>
        <ion-button (click)="deleteTodo(slidingItem, todo)" color="danger">
          <ion-icon name="trash-outline"></ion-icon>
          Delete
        </ion-button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
