<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #form="ngForm" (ngSubmit)="login(form.value)" novalidate>
    <ion-list lines="none">
      <ion-item>
        <ion-input #username="ngModel" [class.invalid]="username.errors && username.dirty" [required]="true"
                   errorText="Username is required" label="Username"
                   labelPlacement="stacked" name="username" ngModel
                   type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input #password="ngModel" [class.invalid]="password.errors && password.dirty" [required]="true"
                   errorText="Password is required" label="Password"
                   labelPlacement="stacked" name="password" ngModel
                   type="password"></ion-input>
      </ion-item>

      <div class="ion-padding">
        <ion-button [disabled]="!form.valid" color="primary" expand="block" type="submit">Login</ion-button>
      </div>

      <div class="ion-padding">
        <ion-button (click)="signup()" color="secondary" expand="block" type="button">Sign up</ion-button>
      </div>
    </ion-list>
  </form>
</ion-content>
