@import './body.scss';
@import '../node_modules/tingle.js/src/tingle.css';

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
}

.earthquake {
    box-shadow: 4px 5px 3px 0px rgba(0,0,0,0.75);
    background-color: lightgray;
    padding: 20px;
    margin: 20px 100px;
}

.earthquake .mag {
    font-weight: bold;
    font-size: 1.5rem;
}

.earthquake .time {
    font-family: monospace;
    font-size: 0.9rem;
}