<ion-header>
  <ion-toolbar>
    <ion-title>
      Earthquakes
      <ion-note>({{ earthquakes.length }}, {{ elapsedTime | number:'1.0-0' }} ms)</ion-note>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentFilterPage()">
        <ion-icon name="options-outline" slot="icon-only" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
    <ion-refresher-content pullingIcon="arrow-down-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..." />
  </ion-refresher>

  <cdk-virtual-scroll-viewport itemSize="128" maxBufferPx="1350" minBufferPx="900">
    <ion-item *cdkVirtualFor="let earthquake of earthquakes">
      <ion-grid>
        <app-detail [earthquake]="earthquake" [referenceLocation]="filter.myLocation" />
      </ion-grid>
    </ion-item>
  </cdk-virtual-scroll-viewport>
</ion-content>
