<ion-header>
  <ion-navbar>
    <ion-title>
      Movie Speech Search
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="matches && matches.length > 0">
    <ion-card-content>
      {{matches.join(', ')}}
    </ion-card-content>
  </ion-card>
  <ion-list *ngIf="movies && movies.length > 0">
    <ion-card *ngFor="let movie of movies">
      <ion-card-header> {{ movie.title }}</ion-card-header>
      <ion-card-content>
        <p>{{ movie.genres }}</p>
        <p *ngIf="movie.runtimeMinutes">Runtime: {{ movie.runtimeMinutes }} minutes</p>
        <p>{{ movie.actors.join(', ') }}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>

<ion-footer padding-bottom padding-top>
  <button no-margin ion-button color="secondary" (click)="searchCordova()">Cordova</button>
  <button no-margin ion-button color="secondary" (click)="searchWebSpeech()" [disabled]="isWebSpeechRecording">Web Speech</button>
  <button no-margin ion-button [color]="isRecording ? 'danger' : 'secondary'" (click)="searchGoogleCloudSpeech()">{{isRecording ? 'Stop' : 'Cloud Speech'}}
  </button>
</ion-footer>
